@font-face {
  font-family: 'Wasted';
  src: url('../sexyfonts/Wasted.otf') format('opentype');
}
@font-face {
  font-family: 'Mad Rats';
  src: url('../sexyfonts/Mad Rats.ttf') format('truetype');
}
@font-face {
  font-family: 'Hand Made';
  src: url('../sexyfonts/A HandMade Font.otf') format('opentype');
}
@font-face {
  font-family: 'DK Hyggelig';
  src: url('../sexyfonts/DK Hyggelig.otf') format('opentype');
}
@font-face {
  font-family: 'Calligraphy Rope';
  src: url('../sexyfonts/Calligraphy Rope.otf') format('opentype');
}
@font-face {
  font-family: 'DK Katzenjammer';
  src: url('../sexyfonts/DK Katzenjammer.otf') format('opentype');
}
@font-face {
  font-family: 'DK Katzenjammer';
  src: url('../sexyfonts/DK Katzenjammer.otf') format('truetype');
}
@font-face {
  font-family: 'Falcon Punch';
  src: url('../sexyfonts/falconpunch.ttf') format('truetype');
}
@font-face {
  font-family: 'Vonique 92 Regular';
  src: url('../sexyfonts/Vonique 92 Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Vtks Hunt';
  src: url('../sexyfonts/Vtks Hunt.ttf') format('truetype');
}
@font-face {
  font-family: 'Motion Picture';
  src: url('../sexyfonts/MotionPicture_PersonalUseOnly.ttf') format('truetype');
}


