#main{
	height:100%;
	background:url('../background.jpeg');
}
#main-sub{
    height:100%;
	background-color:rgba(33,150,243,0.4);
	padding-top:200px;
}
.main-title{
	text-align:center;
	color:white;
	font-family:'Hand Made';
}
.subtitle{
	text-align:center;
	color:white;
	font-family:'Segoe UI';
	font-size:20px;
	border-top:1px solid white;
	width:20%;
	margin-left:40%;
	margin-top:30px;
	padding-top:25px;
}
.big-roboto-title{
	text-align:center;
	color:#2196F3;
	font-family:"Roboto";
	font-size:45px;
	font-weight:100;
	padding-bottom:50px;
	margin-bottom:50px;
	border-bottom:1px solid grey;
	width:20%;
	margin-left:40%;
}
.center{
	text-align:center;
}
.my-image{
	border-radius:50%;
}