#main{
	height:900px;
	background:url('../background.jpeg');
	background-size:cover;
	background-attachment:fixed;
}
#main-sub{
    height:100%;
	background-color:rgba(33,150,243,0.4);
	padding-top:200px;
}
.main-title{
	text-align:center;
	color:white;
	font-family:'Hand Made';
}
.subtitle{
	text-align:center;
	color:white;
	font-family:'Segoe UI';
	font-size:20px;
	border-top:1px solid white;
	width:20%;
	margin-left:40%;
	margin-top:30px;
	padding-top:25px;
}
.big-roboto-title{
	text-align:center;
	color:#2196F3;
	font-family:"Roboto";
	font-size:45px;
	font-weight:200;
	padding-bottom:50px;
	margin-bottom:50px;
	margin-top:25px !important;
	border-bottom:1px dashed grey;
	width:80%;
	margin-left:10%;
}
.small-roboto-title{
	color:#2196F3;
	font-family:"Roboto";
	font-size:25px;
	font-weight:300;
}
.center{
	text-align:center;
}
.my-image{
	border-radius:50%;
}
li:nth-child(odd) {
	font-weight:500;
	color:grey;
	font-size:15px;
	margin:10px;
}
li:nth-child(even) {
	font-weight:400;
	font-size:15px;
	margin-left:10px;
	margin-bottom:20px;
	padding-bottom:10px;
	width:70%;
	border-bottom:1px solid grey;
}
#experience{
	background-color:#F3EFE0;
	padding-top:10px;
}


































