/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#reveal .card-image img
{
	height: 200px;
}
 
#index-banner{
    background-image:url('../images/handshake.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position:center-top;
	background-position-x:50%;
	background-position-y:0%;
    height:500px;
    padding-top:0px !important;

}
#for-pattern{

    background:url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQYV2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF6CYhWw2WAynEpgjmIpg7jUlSiM0TWK2GWUOUZ7ApxggeogIcABHJFtfoX9tJAAAAAElFTkSuQmCC
    ) repeat;
    height:100%;

}
#for-color{
    height:100%;
    background-color:rgba(0,0,0,0.7);

}
#index-banner-inner{
    padding-top:150px;
}
#index-banner-inner-blank{
	padding-top:30px !important;
}
#tabs-nav
{
	z-index:10;
}
.border-style-left
{
	border-left: 4px solid #2196F3;
	//border-bottom:1px solid #444444;
	padding-left:10px;
}
.border-style-right
{
	border-right: 4px solid #2196F3;
	//border-bottom:1px solid #444444;
	padding-right:10px;
	text-align:right
}
#mid{
    //height:800px;
}
#login
 {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}
#login-modal{
	height:47% !important;
	width:30% !important;
}
#login-modal-content{
	padding-top:0px;
	padding-right:0px;
	padding-left:0px;
}
#about-us,#team,#news,#events
{
	//height:730px;
	margin-top:25px;
	padding:25px;
}
.roboto
{
	font-family:"Roboto";
	font-weight:100;
}
.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
	margin-top:10px;
	width:40%;
	margin-left:30%;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#444));
}
.sexy_line2{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
	margin-top:10px;
	width:40%;
	margin-left:30%;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#444), to(#fff));
}
#menu-admin
{
	border:none !important;
	margin:0px;
	padding:0px;
	box-shadow:0px 0px 0px 0px !important;
}
#menu-admin a li 
{
	font-family:'Motion Picture';
	font-size:25px;
}
#edit-profile
{
	max-height:100% !important;
}
#faq-modal{
	max-height:70% !important;
}